:root {
    --color-font: #464646;
    --color-gray: #e5e3e4;
    --color-dark: #00000031;
    --color-gray-light: #d0d0d0;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: "Cormorant Garamond", serif;
    min-height: 100vh;
}

/* NAVIGATION */

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
    
}

.nav-logo {
    height: 60px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-link{
    transition: 0.7s ease;
    color: var(--color-font);
}

.nav-link:hover{
    color: #d0d0d0
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--color-font)
}

.nav-btn {
    font-family: inherit;
    font-size: inherit;
    border: none;
    padding: 0.7rem 3.5rem;
    border-radius: 0.5rem;
    /* background-color: var(--color-gray); */
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    cursor: pointer;
}

@media(max-width: 768px){
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

   

    .nav-menu,
    .nav-btn {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-btn.active {
        left: 0;
        top: 250px;
    }

    
}

/*

.cookies__container {
    width: 1600px;
    margin: auto;
}

.cookies__subcontainer {
    width: 85%;
    margin: auto;
}

#cookies {
    width: 100%;
    position: fixed;
    bottom: 0;
    color: var(--color-gray);
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
     display: none;
}

.cookies {
    font-size: 1.8rem;
    font-weight: 500;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.cookies a {
    color: bisque;
    font-size: 1.6rem;
    font-weight: 300;
}

#cookies__btn {
    border-radius: 5px;
    padding: 8px 12px 8px 12px;
    font-size: 1.6rem;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    border: 3px solid var(--color-dark);
    background-color: var(--color-dark);
    color: var(--color-gray-light);
}

@media (max-width: 1600px) {
    .cookies__container {
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .cookies {
        padding: 10px 0;
    }
}
*/